* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  overflow: hidden;

  background: url("https://wallpaperaccess.com/full/338775.jpg");
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
